* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  --cor-de-acento: #d16f14;
  --cor-preto: #000;
  --cor-branco: #fff;
  background-color: var(--cor-branco);
  color: var(--cor-preto);
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

header {
  padding: 18px;
}

ul {
  list-style: none;
  gap: 15px;
}

ul .active {
  color: var(--cor-de-acento);
}

section {
  padding: 60px;
  gap: 30px;
}

section h1 {
  color: var(--cor-de-acento);
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  padding: 12px;
}

.light {
  padding: 6px;
  border: 1px solid var(--cor-preto);
  border-radius: 50%;
}

section button {
  all: unset;

  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--cor-de-acento);
  color: #fff;
  padding: 12px;
  align-self: flex-start;
}

img {
  width: 25px;
  cursor: pointer;
}
