*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#9aa6cf ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
}


.flex-column{
    display: flex;
    flex-direction: column;
}

.card{
    background-color: white;
    color:black;

    font-family: 'Open Sans',sans-serif;
    
    width:693px;
    padding: 40px 50px 50px 52px;
    border-radius: 10px;
    box-shadow: 0px 34px 44px rgba(160, 181, 255, 0.28);
}

.card__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    width: 256px;
    margin: 0 auto;
}

.card__subtitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    margin-top: 53px;
    margin-bottom: 10px;
}

.card__paragrafy{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    margin-bottom: 40px;
}

.card__data{
    display: flex;
    justify-content: space-between;
}

label{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    margin-bottom: 5px;
}

input{
    all:unset;

    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #050505;
    padding: 26px 25px;

    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

input:focus{
    border: 1px solid #5F82FF; 
    box-sizing: border-box;
}

.card__card input{
    margin-bottom: 20px;
}

.card__data input{
    margin-bottom: 50px;
}

.card__paragrafy--footer{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: 533px;
    margin-bottom: 27px;
}

button{
    all:unset;

    box-sizing: border-box;
    display: block;
    padding: 45px 256px;
    border-radius: 5px;

    background: rgba(95, 130, 255, 1);

    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

button:hover{
    background: rgb(27, 72, 236);
}


