form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-left: 5px;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
}

form label {
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  all: unset;
  color: white;
  background-color: rgb(117, 117, 117);
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

button:hover {
  background-color: rgb(129, 126, 126);
}
