.container-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-profile div {
  width: 200px;
  margin: 5px;
}

.container-profile strong {
  margin-right: 10px;
}
