body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    display: flex;
    background-color: peachpuff;
    padding: 15px;
    position: relative;
    
}

.card__rosa{
    width: 120px;
    height: 80px;

    background-color: palevioletred;

    margin: 0 10px;
    border:  2px solid black;
    border-radius: 8px;
}

.card__azul{
    background-color: cornflowerblue;
    position: absolute;
    top:1px
}



