*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

a{
    text-decoration: none;
}

.container{
    flex-grow: 1;
    padding: 64px 165px 0 165px;
}

.nav-list{
    list-style: none;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
}

.footer{
    padding-left: 165px;
    padding-right: 165px;
}

.socials{
    list-style: none;
}