.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.align-self-center{
    align-self: center;
}

.align-self-start{
    align-self: flex-start;
}
