body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.escondida{
    display: none;
}

div{
    position: relative;
    padding: 10px 30px;
}

b{
    position: absolute;
    left: 110px;
    bottom: 5px;
    color: red;
    background-color: black;
    border-radius: 3px;
    padding: 3px 5px;
   cursor: pointer;
}

span{

    position: absolute;
    left: 55px;
    bottom: 8px;
    font-weight: 600;
}