*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    min-height: 100vh;
}

.alinhamento-bloco{
    padding: 70px 52px; 
    margin: 100px auto;
    position: relative;
    width: 432px;
    background-color: white;

    text-align: center;
    border-radius: 20px ;
}


.bloco_img_1{
    position: absolute;
    right: 30px;
    top: 30px;
}

.bloco_img{
    margin-top: 7px;
    margin-bottom: 29px;
}

.paragrafo{
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.bloco p{
    width: 327px;
}

.bloco1 p{
    width: 203px;
}

.botao{
    padding: 14px 63px;
    border-radius: 5px;
    text-decoration: none;
    color:white;
}

.bloco a{
    background: rgba(237, 103, 85, 1);
    box-shadow: 0px 2px 5px 0px rgba(237, 103, 85, 1);
}

.bloco1 a{
    background: rgba(28, 27, 94, 1);
    box-shadow: 0px 2px 5px 0px rgba(28, 27, 94, 1);
}








