*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: #dae2fa98;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
    
}

.bloco_main{
    width: 505px;
    padding: 60px 60px;
    margin-bottom: 80px;
    background-color: white;

    border-radius: 15px;
}

.bloco_main img{
    margin-bottom: 6px;
    width: 30 px;
    opacity: 0.8;
}

.bloco_main p {
    font-family: 'Merriweather', sans-serif;
    text-align: left;
    font-weight: normal;
    color: #101439;
    font-size: 22px;
    margin-bottom: 38px;
    line-height: 36px;
    
}

.bloco_main span{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bloco{
    background: rgba(16, 20, 57, 1);
    color: white;
    width: 431px;
    padding: 60px 60px;
    border-radius: 10px;
}

.bloco span{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform:uppercase;
    margin-bottom: 10px;
}

.bloco h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 13px;
}

.bloco p{
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 55px;
}

.bloco a{
    text-decoration: none;
    color: #101439;
    background-color: white;
    padding: 25px 101px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    border-radius: 10px;
    margin: 0 auto;
}